<% cache(action_suffix: "primary") do %> 
      <!-- =-=-=-=-=-=-= Main Header =-=-=-=-=-=-= -->
      <div class="colored-header">
         <!-- Top Bar -->
         <div class="header-top dark">
            <div class="container">
               <div class="row">
                  <!-- Header Top Left -->
                  <div class="header-top-left col-md-6 col-sm-6 col-xs-12 hidden-xs">
                     <ul class="listnone">
                        <li><a href="about.html"><i class="fa fa-heart-o" aria-hidden="true"></i> About</a></li>
                        <li><a href="faqs.html"><i class="fa fa-folder-open-o" aria-hidden="true"></i> FAQS</a></li>
                       
                        <!--li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe" aria-hidden="true"></i> Language <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                              <li><a href="#">English</a></li>
                              <li><a href="#">Swedish</a></li>
                              <li><a href="#">Arabic</a></li>
                              <li><a href="#">Russian</a></li>
                              <li><a href="#">chinese</a></li>
                           </ul>
                        </li-->
                     </ul>
                  </div>



   <!-- Header Top Right Social -->
                  <div class="header-right col-md-6 col-sm-6 col-xs-12 ">
                     <div class="pull-right">
                        <ul class="listnone">

                           <li>                            

                        <%#= link_to new_profile_session_path, turbolinks: true, :class => "" do %>
                          <!--Log In <i class="fa fa-sign-in"></i-->
                        <%# end %>

                        <%= link_to "Log In", "#login", "data-toggle" => "modal", :class => '' %> <i class="fa fa-sign-in"></i>

                           </li>



                           <li>                            


                        <%= link_to "Register", "#signup", "data-toggle" => "modal", :class => '' %> <i class="fa fa-unlock"></i>

                           </li>







                           <li class="dropdown hidden-xs">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="btn btn-theme">

                        <span class="btn btn-theme">Start Selling In Your Local Currency</span></a>

                                 <!--span class="myname hidden-xs"> Umair </span> <span class="caret"></span-->

                             
                              <ul class="dropdown-menu">
                                 <li><a href="/ads/new"><i class="ion-ios-cart" style="font-size: 18px;"> </i>General Products</a></li>
                                 <li><a href="/motors/new"><i class="ion-android-car" style="font-size: 18px;"></i>Cars</a></li>
                                 <li><a href="/properties/new"><i class="ion-android-home" style="font-size: 18px;"></i>Properties</a></li>
                               
                              </ul>
                           </li>




<!--show Mobile-->
                           <li class="dropdown hidden-lg">
                              <a href="#start-selling" class="dropdown-toggle" data-toggle="modal" role="button" aria-haspopup="true" aria-expanded="false">

                                 <a href="#start-selling" class="btn btn-up-green" data-toggle="modal">Start Selling</a>

                                 <!--span class="myname hidden-xs"> Umair </span> <span class="caret"></span-->

                              </a>
                              <ul class="dropdown-menu">
                                 <li><a href="/ads/new"><i class="ion-ios-cart" style="font-size: 18px;"> </i>General Products</a></li>
                                 <li><a href="/motors/new"><i class="ion-android-car" style="font-size: 18px;"></i>Automobile</a></li>
                                 <li><a href="/properties/new"><i class="ion-android-home" style="font-size: 18px;"></i>Properties</a></li>
                               
                              </ul>
                           </li>

<!--end show mobile-->

                           <!--li>
                              <a href="post-ad-1.html" class="btn btn-theme">Sell Your Car</a>
                           </li-->


                        </ul>


                     </div>
                  </div>


               </div>
            </div>
         </div>
<!-- Top Bar End -->




         <!-- Navigation Menu -->
         <div class="clearfix"></div>
         <!-- menu start -->
         <nav id="menu-1" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12">
                        <!-- menu logo -->
                        <ul class="menu-logo">
                           <li>
                              <%= link_to root_path, turbolinks: true, :class => "img-responsive " do %>
    <%= image_tag("https://s3.amazonaws.com/proinsidegh/static/upfrica.png") %>
<% end %>
</a>
                           </li>
                        </ul>
                        <!-- menu links -->
                        <ul class="menu-links">
                          
                           <!--li>
                              <a href="javascript:void(0)">Home <i class="fa fa-angle-down fa-indicator"></i></a>
                             
                              <ul class="drop-down-multilevel">
                                 <li><a href="index-1.html">Home 1</a></li>
                                 <li><a href="index-2.html">Home 2</a></li>
                                 <li><a href="index-3.html">Home 3</a></li>
                                 <li><a href="index-4.html">Home 4</a></li>
                                 <li><a href="index-5.html">Home 5</a></li>
                              </ul>
                           </li-->
                           <li>
                              <a href="javascript:void(0)"><i class="ion-android-apps" style="font-size: 18px"></i> Explore <i class="fa fa-angle-down fa-indicator"></i></a>
                              <div class="drop-down grid-col-12">
                                 <!--grid row-->
                                 <div class="grid-row">
                                    <!--grid column 3-->
                                    <div class="grid-col-2">
                                       <h3>Qick Menu</h3>
                                       <ul>
                                          <li><a href="/ads">General Products</a></li>
                                          <li><a href="/motors">Automobile</a></li>
                                          <li><a href="/properties">Property </a></li>
                                          <li><a href="/hows">How To </a></li>

                                       </ul>
                                    </div>
                                    <div class="grid-col-6">
                                       <h3>Categories</h3>
                                       <ul class="by-make list-inline">
                                          <li>
                                             <a href="#">
                                             <img src="http://templates.scriptsbundle.com/carspot/demos/images/brands/1.png" class="img-responsive" alt="Brand Image">
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#">
                                             <img src="http://templates.scriptsbundle.com/carspot/demos/images/brands/2.png" class="img-responsive" alt="Brand Image">
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#">
                                             <img src="http://templates.scriptsbundle.com/carspot/demos/images/brands/3.png" class="img-responsive" alt="Brand Image">
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#">
                                             <img src="http://templates.scriptsbundle.com/carspot/demos/images/brands/4.png" class="img-responsive" alt="Brand Image">
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#">
                                             <img src="http://templates.scriptsbundle.com/carspot/demos/images/brands/5.png" class="img-responsive" alt="Brand Image">
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#">
                                             <img src="http://templates.scriptsbundle.com/carspot/demos/images/brands/6.png" class="img-responsive" alt="Brand Image">
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#">
                                             <img src="http://templates.scriptsbundle.com/carspot/demos/images/brands/7.png" class="img-responsive" alt="Brand Image">
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#">
                                             <img src="http://templates.scriptsbundle.com/carspot/demos/images/brands/8.png" class="img-responsive" alt="Brand Image">
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#">
                                             <img src="http://templates.scriptsbundle.com/carspot/demos/images/brands/9.png" class="img-responsive" alt="Brand Image">
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#">
                                             <img src="http://templates.scriptsbundle.com/carspot/demos/images/brands/11.png" class="img-responsive" alt="Brand Image">
                                             </a>
                                          </li>
                                       </ul>
                                    </div>
                                    <div class="grid-col-4">
                                       <h3>Motor Types</h3>
                                       <ul class="list-inline by-category ">
                                          <li>
                                             <a href="#">
                                            <img alt="Hybrid" src="http://templates.scriptsbundle.com/carspot/demos/images/bodytype/1.png">
                                            Cars
                                           </a> 
                                          </li>
                                          
                                          <li>
                                             <a href="#">
                                            <img alt="Hybrid" src="http://templates.scriptsbundle.com/carspot/demos/images/bodytype/4.png">
                                            Van/Minivan
                                           </a> 
                                          </li>
                                          <li>
                                             <a href="#">
                                            <img alt="Hybrid" src="http://templates.scriptsbundle.com/carspot/demos/images/bodytype/2.png">
                                          Motorbikes & Scooters 
                                           </a> 
                                          </li>
                                          <li>
                                             <a href="#">
                                            <img alt="Hybrid" src="http://templates.scriptsbundle.com/carspot/demos/images/bodytype/3.png">
                                           Plant & Tractors 
                                           </a> 
                                          </li>
                                          <li>
                                             <a href="#">
                                            <img alt="Hybrid" src="http://templates.scriptsbundle.com/carspot/demos/images/bodytype/5.png">
                                            Truck
                                           </a> 
                                          </li>
                                          <li>
                                             <a href="#">
                                            <img alt="Hybrid" src="http://templates.scriptsbundle.com/carspot/demos/images/bodytype/6.png">
                                         Other Vehicles 
                                           </a> 
                                          </li>
                                          
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </li>

                           <li>
                              <a href="#how-it-works"> <i class="ion-android-bulb" style="font-size: 18px;"> </i> How It Works </a>

                           </li>





                           <!--li>
                              <a href="javascript:void(0)">Reviews <i class="fa fa-angle-down 
                              <ul class="drop-down-multilevel">
                                 <li><a href="reviews.html">Expert Reviews</a></li>
                                 <li><a href="review-detail.html">Review Detial</a></li>
                              </ul>
                           </li-->
                           
                           <!--li>
                              <a href="javascript:void(0)">Compare <i class="fa fa-angle-down fa-indicator"></i></a>
                             
                              <ul class="drop-down-multilevel">
                                 <li><a href="compare.html">Car Comparison</a></li>
                                 <li><a href="compare-1.html">Comparison Style 2</a></li>
                                 <li><a href="compare-2.html">Comparison Detial</a></li>
                              </ul>
                           </li-->
                           <!--li>
                              <a href="javascript:void(0)">Dashboard <i class="fa fa-angle-down fa-indicator"></i></a>
                      
                              <ul class="drop-down-multilevel">
                                 <li><a href="profile.html">User Profile</a></li>
                                 <li><a href="archives.html">Archives</a></li>
                                 <li><a href="active-ads.html">Active Ads</a></li>
                                 <li><a href="favourite.html">Favourite Ads</a></li>
                                 <li><a href="messages.html">Message Panel</a></li>
                                 <li><a href="deactive.html">Account Deactivation</a></li>
                              </ul>
                           </li-->
                          
                        </ul>


                        <ul class="menu-search-bar">
                           <li>
                              <a>
                                 <div class="contact-in-header clearfix">
                                    <i class="flaticon-customer-service"></i>
                                    <span>
                                    Call Us Now
                                    <br>
                                    <strong>111 222 333 444</strong>
                                    </span>
                                 </div>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </section>
         </nav>
         <!-- menu end -->
      </div>


      <% end %>




        <!-- Modal start selling -->

<div class="modal bg-fade" id="start-selling" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-danger text-center"> Start selling in your local currency</h3>

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">

               <div class="grid-col-4">
                                       <h3 class="text-center">What are you advertising?</h3>
                                       <h5 class="text-center">Choose from all categories</h5>
                                       <ul class="list-inline by-category ">
                                          <li>

                                             
                                            
                                            <%= link_to new_add_path do %>

                                            <i class="ion-bag" style="font-size: 96px;"></i>
                                            General Items
                                            <% end %>
                                         
                                          </li>
                                          
                                          <li>
                                              
                                             
                                            <%= link_to new_motor_path do %>
                                            <i class="ion-android-car" style="font-size: 96px;"></i>
                                            Automobile

                                            <% end %>
                                         
                                          </li>
                                         
                                         
                                          
                                          
                                       </ul>
                                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               
            </div>
        </div>
    </div>
</div>

<!-- /.end start selling modal -->
