<p id="notice"><%= notice %></p>

<h1>motors</h1>

<%= render 'layouts/searchform' %>

<br>


<table>
  <thead>
    <tr>
      <th>Title</th>
  
      <th>Town</th>
      <th>Local area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @motors.each do |motor| %>
      <tr>
        <td><%= motor.title %></td>
        <td><%= motor.town %></td>
        <td><%= motor.local_area %></td>
        <td><%= link_to 'Show', motor %></td>
        <td><%= link_to 'Edit', edit_motor_path(motor) %></td>
        <td><%= link_to 'Destroy', motor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motor', new_motor_path %>

